version: '2'

# https://github.com/maxpou/docker-symfony

services:
    php:
        container_name: simonrackhamphp
        build: docker
        command: php bin/console
        volumes:
          - .:/opt/project
        environment:
          XDEBUG_CONFIG: "remote_host=192.168.1.69"
          PHP_IDE_CONFIG: "serverName=simonrackham"
